@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  background-color: #fff;
  padding-left: 20px; /* Adjust the left padding to create space for the brand/logo */
  padding-right: 20px; /* Adjust the right padding for spacing on both sides */
}

.navbar-brand{
  font-weight: 400;
  /* font-family: 'Roboto', sans-serif;  */
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-size: 24px; /* Adjust font size as needed */
  margin-right: 200px; /* Add right margin to separate the brand/logo from nav links */
}

/* Update the container width to match the browser width */
.container {
  max-width: 100%; /* Set maximum width to 100% to match browser width */
  padding: 0 15px;
  margin: 0 auto;
}

.foot a:hover{
  /* color: #ffefba; */
  border-bottom: 1px solid #3e2093;;
}

.foot{
  margin-left: 35%;
  margin-top: -4%;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover{
  background-color: black;
  color: white;
}

.navbar-collapse {
  margin-left: 20px;
}

.nav-pills {
  margin-left: auto;
}

.nav-link {
  padding: 10px 15px;
}

/* Styles specific to the logged-in state */
.logged-in .navbar-brand {
  margin-right: 65px;
}

/* Styles specific to the logged-out state */
.logged-out .navbar-brand {
  margin-right: 200px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin-bottom: 10px;
  }
}
