@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
.product-link{
  text-decoration: none !important;
  color: black;
}
.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  background-color: #fff;
  padding-left: 20px; /* Adjust the left padding to create space for the brand/logo */
  padding-right: 20px; /* Adjust the right padding for spacing on both sides */
  width: 100%;
  display: flex;
  justify-content: space-between; /* Add this to align brand and nav-pills */
  align-items: center; /* Center vertically */
}

.navbar-brand{
  font-weight: 400;
  /* font-family: 'Roboto', sans-serif;  */
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-size: 24px; /* Adjust font size as needed */
  margin-right: 200px; /* Add right margin to separate the brand/logo from nav links */
}

/* Update the container width to match the browser width */
.container {
  max-width: 100%; /* Set maximum width to 100% to match browser width */
  padding: 0 15px;
  margin: 0 auto;
}

/* Styles specific to the logged-in state */
.logged-in .navbar {
  padding-left: 10px; /* Adjust the left padding when logged in */
  padding-right: 10px; /* Adjust the right padding when logged in */
}

/* Styles specific to the logged-out state */
.logged-out .navbar {
  padding-left: 20px; /* Adjust the left padding when logged out */
  padding-right: 20px; /* Adjust the right padding when logged out */
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover{
  background-color: black;
  color: white;
}

.navbar-collapse {
  margin-left: 20px;
}

/* Styles specific to the logged-in state */
.logged-in .nav-pills {
  margin-left: auto;
}

.logged-in .nav-link {
  padding: 10px 15px;
  margin-right: -10px; /* Adjust the right margin when logged in */
}

/* Styles specific to the logged-out state */
.logged-out .nav-pills {
  margin-left: auto;
}

.logged-out .nav-link {
  padding: 10px 15px;
  margin-left: 3px; /* Commented out to remove right margin when logged out */
  margin-right: 1px;
}


/* Styles specific to the logged-in state */
/* .logged-in .navbar-brand {
  margin-right: 65px;
} */

/* Styles specific to the logged-out state */
/* .logged-out .navbar-brand {
  margin-right: 200px;
} */

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin-bottom: 10px;
  }
}


.footer-container {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.867);
  min-height: 100px;
  padding: 20px 0; /* Adjust top and bottom padding */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0; /* Position the footer at the bottom of the viewport */
  left: 0;
}

.footer-container .footer-logo{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:10px 0;
}

.footer-container .menu{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:10px 0;
  flex-wrap:wrap;
  transition:0.5s;
}

.footer-container .menu li{
  list-style:none;
}

.footer-container .menu li .footer-nav-link{
  font-size:1.2em;
  color:#fff;
  margin:0 10px;
  display:inline-block;
  transition:0.5s;
  text-decoration:none;
  opacity:0.75;
}

.footer-container .menu li .footer-nav-link:hover{
  opacity:1;
  transform:translateY(-10px);
}

.footer-container .footer-statement{
  color:#fff;
  text-align:center;
  margin-top:15px;
  margin-bottom:10px;
  font-size:1.1em;
}

/* .footer-container .wave{
  position:absolute;
  top:-70px;
  left:0;
  width:100%;
  height:100px;
  background:url(./pages/photospages/wave.png);
  background-size:1000px 100px;
} */

/* .footer-container .wave#wave1{
  z-index:1000;
  opacity:1;
  bottom:0;
  animation:animateWave 4s linear infinite;
}

.footer-container .wave#wave2{
  z-index:999;
  opacity:0.5;
  bottom:10px;
  animation:animateWave_02 4s linear infinite;
}

.footer-container .wave#wave3{
  z-index:1000;
  opacity:0.2;
  bottom:15px;
  animation:animateWave 3s linear infinite;
}

.footer-container .wave#wave4{
  z-index:999;
  opacity:0.5;
  bottom:20px;
  animation:animateWave_02 3s linear infinite;
} */

/* @keyframes animateWave{
  0%{
      background-position-x:1000px;
  }
  100%{
      background-position-x:0px;
  }
}

@keyframes animateWave_02{
  0%{
      background-position-x:0px;
  }
  100%{
      background-position-x:1000px;
  }
} */

.header-short-username {
  /* Rest of your CSS code for length < 6 */
  .navbar-brand {
    /* Existing styles for length < 6 */
    margin-right: 190px; /* Adjust the right margin for short username */
  }
}

.header-long-username {
  /* Existing styles for length >= 6 */
  .navbar-brand {
    /* Existing styles for length >= 6 */
    margin-right: 190px; /* Adjust the right margin for long username */
  }
}






